@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

*,
*::before,
*::after {
  box-sizing: border-box;
}
.home {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: -10%;
}

.img-wrapper {
  flex-grow: 1;
}
.img-wrapper > img {
  border-radius: 5em;
  width: 30em;
  height: 30em;
  margin-top: 13rem;
  margin-left: 10%;
  margin-right: 4em;
}

.preview {
  flex-grow: 1;
  margin: 1rem;
  padding-top: 10em;
  align-self: center;
}

@media (max-width: 900px) {
  .home .img-wrapper {
    display: flex;
  }

  .home {
    justify-content: center;
  }
}
body {
  padding: 0;
  margin: 0;
  background-color: rgba(46, 56, 112, 0.596);
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  color: white;
  min-height: 100vh;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 2em;
  font-size: 1.25em;
  color: inherit;
  text-decoration: none;
}

.logo-name {
  float: left;
  text-align: left;
  margin-left: 1rem;
}

.main-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
}

.main-nav a:hover {
  color: #adadad;
}

.header-bar {
  display: flex;
  margin-top: 3em;
  justify-content: space-between;
  align-items: center;
  background-color: #70ade7;
  border-radius: 10px;
}

.container {
  justify-content: space-between;
}

.container {
  max-width: auto;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
}

.title {
  font-weight: 500;
  font-size: 2em;
  margin-bottom: 1rem;
  margin-top: 0;
  margin-left: 1rem;
}

.subtitle {
  text-align: justify;
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 1em;
  margin-left: 1rem;
}

.article {
  display: flex;
}
.box1-article {
  background-color: #70ade7;
  margin: 5px;
  width: fit-content;
  padding-right: 5em;
  padding-left: 2em;
  border: 2px solid black;
  border-radius: 20px;
}
.first {
  flex-grow: 1;
}
.second {
  flex-grow: 3;
}
.third {
  flex-grow: 1;
}
.title-card {
  font-weight: 500;
  font-size: 2em;
  margin-top: 0;
}
aside {
  background-color: #5a7eb4;
  margin: 5px;
  width: 20%;
  padding-right: 5em;
  padding-left: 2em;
  border: 2px solid black;
  border-radius: 20px;
}
aside > article {
  padding: 25px;
  font-style: italic;
}
footer {
  background-color: #5a7eb4;
  margin-top: 5px;
  text-align: center;
  border-radius: 20px;
  border: 2px solid black;
}
